
:root {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
body {
  background-color: var(#FFFFFF);
}
.title {
  color: #000000;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}
